/* Details

- *Typefaces:* `Karma`, `Oswald`
- *Text sizes:* `1.4rem`, `2rem`
- *Line-heights:* `1.5`
- *Colours:* `#6f00e7`, `#987ffa`, `#000`
- *Gaps:* `1rem`
- *Margins:* `.25em`, `1.5rem`
- *Paddings:* `.5em 1.5em .7em`, `.25em`, `1rem`
- *Border thicknesses:* `3px`
- *Corner-radii:* `3em`, `6px`

Details */

html {
  font-family: Oswald;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: .7em;
  /* main grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* border */
  border: 3px solid #987ffa;
}
li {
  list-style: none;
}

h2 {
  color: #6f00e7;
  font-size: 2rem;
  text-align: center;
}

p {
  font-family: Karma;
  font-size: 1.4rem;
  text-align: center;
}

.cart-button {
  display: inline-block;
  background-color: #6f00e7;
}
